html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.main-header {
  display: flex;
}

.user-avatar {
  margin-right: 20px;
  margin-top: 70px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.lining {
  border: solid;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  margin-right: 700px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 15px;
}

.post-ducreux,
.post-courbet,
.post-vangogh {
  width: 100%;
}

.avatar-name {
  font-family: source sans pro, sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

.avatar-nationality {
  font-family: source sans pro, sans-serif;
  font-weight: lighter;
  margin-top: 5px;
}

.post {
  font-family: source sans pro, sans-serif;
  font-weight: lighter;
}

.likes {
  font-family: source sans pro, sans-serif;
  font-weight: bolder;
}

.icon {
  width: 50px;
  margin-top: 10px;
}

.icon-heart:hover {
  background-color: red;
}

.icon-heart:active {
  background-color: red;
}

.icon-heart {
  width: 50px;
  margin-top: 10px;
}

.container {
  padding: 45px 0;
}
